rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{message} {
      // Note: these are extremely basic rules because this sample does not use Firebase Authentication,
      //       but these rules are NOT appropriate for a production chat app.
      allow read;
      allow write: if request.resource.data.keys().hasOnly(['text', 'time'])
    }
  }
}
