rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{message} {
      // Note: these are extremely basic rules but these rules are NOT secure enough
      // for a production chat app.
      allow read: if request.auth.token.email != null;
      allow write: if request.resource.data.keys().hasOnly(['text', 'time'])
    }
  }
}
